In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import sys
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [3]:
# Define the column names
col_names = ['polarity', 'aspect_category', 'target_term', 'char_offset', 'sentence']

# Read the CSV file with the specified column names
dev = pd.read_csv('data\\devdata.csv', sep='\t', names=col_names)
train = pd.read_csv('data\\traindata.csv', sep='\t', names=col_names)

In [4]:
# create two new columns for aspect category: category_root and category_sub

train['category_root'] = train['aspect_category'].apply(lambda x: x.split('#')[0])
train['category_sub'] = train['aspect_category'].apply(lambda x: x.split('#')[1])

dev['category_root'] = dev['aspect_category'].apply(lambda x: x.split('#')[0])
dev['category_sub'] = dev['aspect_category'].apply(lambda x: x.split('#')[1])

# change position the two new columns to be after the column aspect_category

train = train[['polarity', 'aspect_category', 'category_root', 'category_sub', 'target_term', 'char_offset', 'sentence']]

dev = dev[['polarity', 'aspect_category', 'category_root', 'category_sub', 'target_term', 'char_offset', 'sentence']]

# drop the column aspect_category since we have the two new columns category_root and category_sub
train = train.drop(['aspect_category'], axis=1)
dev = dev.drop(['aspect_category'], axis=1)

In [5]:
train.head()

,polarity,category_root,category_sub,target_term,char_offset,sentence
0,positive,AMBIENCE,GENERAL,seating,18:25,short and sweet – seating is great:it's romant...
1,positive,AMBIENCE,GENERAL,trattoria,25:34,This quaint and romantic trattoria is at the t...
2,positive,FOOD,QUALITY,food,98:102,The have over 100 different beers to offer thi...
3,negative,SERVICE,GENERAL,STAFF,5:10,THIS STAFF SHOULD BE FIRED.
4,positive,FOOD,STYLE_OPTIONS,menu,4:8,"The menu looked great, and the waiter was very..."

In [6]:
dev.head()

,polarity,category_root,category_sub,target_term,char_offset,sentence
0,positive,LOCATION,GENERAL,neighborhood,54:66,"great food, great wine list, great service in ..."
1,negative,RESTAURANT,GENERAL,place,15:20,I thought this place was totally overrated.
2,positive,FOOD,QUALITY,Fish,0:4,Fish is so very fresh.
3,negative,SERVICE,GENERAL,manager,19:26,"I showed it to the manager, and he smilingly a..."
4,neutral,DRINKS,QUALITY,margaritas,63:73,"The food we ordered was excellent, although I ..."

In [8]:
#export tables to a folder called data_cleaned

train.to_csv('data_cleaned\\train_cleaned.csv', index=False)
dev.to_csv('data_cleaned\\dev_cleaned.csv', index=False)